        <div class="row" style="background-color: #fff;margin-top: 20px">
            <div class="col-md-5">
                <div><img src="img/5.png" alt=""></div>
                <ul class="list-group img">
                    <li><img src="img/1.png" alt="" width="100"></li>
                    <li><img src="img/2.png" alt="" width="100"></li>
                    <li><img src="img/3.png" alt="" width="100"></li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="list-group">
                    <h2>加拿大东部6晚8日游</h2>
                    <li><span>14685元/每人</span><span>出发日期：2016-12-06/span></li>
                    <li>与南美的伊瓜苏瀑布及非洲的维多利亚瀑布合称世界三大瀑布！探寻世界七大奇景之一尼亚加拉大瀑布!</li>
                    <li>
                        <label>购买量</label>
                        <input type="text">
                    </li>
                    <li>总价</li>
                    <li class="">
                        <button type="button" class="btn">加入购物车</button>
                        <button type="button" class="btn">进入购物车</button>
                        <button type="button" class="btn">返回</button>
                    </li>
                </div>
            </div>
        </div>