<div class="row">
	<div class="tab col-md-3">
		<div class="tou-left">
			<div class="tou-title">选择不同的旅游路线</div>
			<ul class="list-group">
				<li class="list-group-item" ui-sref="tab.all"><a href="#">全部</a></li>
				<li class="list-group-item" ui-sref="tab.territory"><a href="#">境内游</a></li>
				<li class="list-group-item" ui-sref="tab.abroad"><a href="#">境外游</a></li>
				<li class="list-group-item" ui-sref="tab.long"><a href="#">长途旅游</a></li>
				<li class="list-group-item" ui-sref="tab.suburb"><a href="#">郊游</a></li>
				<li class="list-group-item" ui-sref="tab.island"><a href="#">岛游</a></li>
			</ul>
		</div>
	</div>
	<div class="content col-md-9">
		 <div ui-view></div>
	</div>
</div>
